In [ ]:
# Variable
# Variable names can contain alphabets, integers, and/or underscore (_) character.
# Variable names can not begin with a number. They can only begin with a letter or an
# underscore (_).
# Variable names can not contain whitespaces and special characters.
x = 10
print(x)

<!-- Aritmathic Operators -->

In [2]:
# Addition
print(5 + 100)

105

In [3]:
# Substraction
print(6.5 - 2)

4.5

In [4]:
# Multiplication
print(100 * 3)

300

In [5]:
# Division
# float division
print(200 / 3)

66.66666666666667

In [6]:
# integer division
print(200 // 3)

66

In [7]:
# Modulo
print(20 % 3)

2

In [12]:
# COnditional
if 5 >= 6:
    print("Great 5 >= 3")
elif 3 == 0:
    print("Great 3 == 3")
else:
    print("Whatever")

Whatever

In [25]:
#For Loop
# for i in range(0,20, 5):
#     print(i)

# While Loop
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [33]:
# List
flowerList = ["Rose", "Lily","Tulip"]
print(flowerList)

# get list by index
firstFlower = flowerList[0]
print(firstFlower)

# slicing list
lastTwoElements = flowerList[1:3]
print(lastTwoElements)

# loop list
for i in flowerList:
    print(i)

['Rose', 'Lily', 'Tulip']
Rose
['Lily', 'Tulip']
Rose
Lily
Tulip

In [41]:
# Dictiniories
data = {"name":"Muhammad Yusuf", "age":"22", "address":"Jln Taqwa"}
name = data["name"]
age = data["age"]
address = data["address"]
print(name)
print(age)
print(address)

Muhammad Yusuf
22
Jln Taqwa

In [45]:
# Loop dictionaries
data = {"name":"Muhammad Yusuf", "age":"22", "address":"Jln Taqwa"}
for key in data:
    print(data[key])

Muhammad Yusuf
22
Jln Taqwa

In [49]:
# Tuple
flowerTuple = ("Rose", "Lily", "Tulip")
for item in flowerTuple:
    print(item)

Rose
Lily
Tulip

In [50]:
# User defiune function
def AddNumber(x,y):
    sum = x + y
    return sum

In [52]:
sumNumber = AddNumber(30,20)
print(sumNumber)

50

In [53]:
# Return more than one 
def incrementByTwo(x,y):
    x = x + 2
    y = y + 2
    return x,y

In [56]:
num1, num2 = incrementByTwo(20,10)
print(num1)
print(num2)

22
12