In [3]:
import pandas as pd

In [2]:
myList = [['Apple','Red'],['Banana','Yellow'],['Orange','Orange']]

In [5]:
myDataFrame = pd.DataFrame(myList)
myDataFrame

        0       1
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange

In [8]:
myDataFrame = pd.DataFrame(myList, columns=['Fruit','Color'])
myDataFrame

    Fruit   Color
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange